playground==0.2.0
mujoco>=3.6.0
mujoco-mjx>=3.6.0
brax>=0.14.2
absl-py
etils
flax
jax
lxml
ml-collections
orbax-checkpoint>=0.11.22
termcolor
mediapy
omegaconf
imageio
distrax
blackjax
hydra-core
numpyro
mergedeep
einops
warp-lang>=1.11
pandas
tqdm
wandb
